#body {
    background-color: #252326;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sideBar ul a {
    text-decoration: none;
    font-style: none;
    text-decoration-color: none;
    color: inherit;
}

/* sidebar */
.sideBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(120deg, #f7d259 0%, #fda085 100%);
}
.sideBar .logoContainer {
    display: flex;
    align-items: center;
    margin: 0 0 0 3rem;
    font-weight: 900;
    letter-spacing: 1.3px;
    font-size: 25px;
}
.sideBar .menuContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    /* width: inherit; */
    margin: 0;
}

/* end */

.active {
    color: rgb(255, 255, 255) !important;
    font-weight: bolder;
}
.active li {
    border-bottom: 2px solid rgb(255, 255, 255) ;
}
.sideBar ul {
    padding: 0;
}
.sideBar ul li {
    display: flex;
    align-items: center;
    padding: 6px 15px;
    text-align: center;
    list-style: none;
    margin: 1rem 2rem;
    transition: 0.2s ease-in;
}.sideBar ul li:hover {
    color: white;
}
.sideBar ul li svg {
    margin: 0 5px;
}

/* mobile */
.mobile_nav {
    display: none;
}


@media screen and (width <= 820px) {
    
    .sideBar {
        display: none;
    }

    .mobile_nav {
        display: block;
        z-index: 0;
        background: none;
    }

    .btnMode {
        display: none;
    }

    .mid_circle {
        display: none;
    }
}