/* title about me */
.h2Title .flexRowWrapContainer span
{
    margin: 0 10px;
}
.h2Title .flexRowWrapContainer strong
{
    color: orange;
}
h2.flexCenterContainer.h2Title.about_title {
    padding: 2.3rem 0 2.3rem 0;
    background: black;
    margin: 0;
    color: white;
}


/* end */

/* description */
.about_description {
    height: 500px;
    width: 700px;
    border-radius: 10px;
    box-shadow:
    0px 13.9px 9.7px rgba(0, 0, 0, 0.321),
    0px 53px 80px rgba(0, 0, 0, 0.38);
    background-image: url(../imgs/bg.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;

    display: flex;
    flex-direction: column;
    
}
.about_description_title {
    padding: 1rem 0;
    background-image: url(../imgs/bigCircle.jpg);
    background-position: center;
    background-size: cover;
    color: rgb(255, 199, 88);
    text-align: center;
    font-size: 3rem;
    font-weight:900;
    letter-spacing: 7px;
}
.about_description_text {
    padding: 2rem;
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}
.btnResume
{
    display: flex;
    align-items: center;
    padding: 5px 25px;
    border-radius: 10px;
    border: solid 1.7px grey;
    margin: 1rem 0;
    background-color: rgb(44, 44, 240);
    transition: 0.2s ease;
    font-weight: 600;
    z-index: 2;
    width: 130px;
}
.btnResume:hover {
    box-shadow: 1px 1px 10px rgb(30, 30, 30);
    background-color: rgb(135, 135, 244);

}
.btnResume svg  
{
    margin-bottom: -2px;
    margin-left:6px ;
}

/* description hovers */

.description:hover {
    box-shadow: 1px 1px 8px rgb(40, 40, 40)
}

/* end */

/* img container */

.imgContainer
{
    margin-top: 3rem;
    z-index: 1;
}
.imgContainer .card {
    width: 280px;
    height: 310px;
    background: #f5f5f5;
    padding: 2rem 1.5rem;
    transition: box-shadow .3s ease, transform .2s ease;
}

.imgContainer .card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease, opacity .2s ease;
}

/*Image*/
.imgContainer .card-avatar {
    --size: 100px;
    background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transition: transform .2s ease;
    margin-bottom: 1rem;
    background-image:url(../imgs/perfil2.jpeg);
    background-position: center;
    background-size: contain;
    filter: grayscale();
}


/*Card footer*/
.imgContainer .card-social {
    transform: translateY(200%);
    display: flex;
    justify-content: space-around;
    width: 100%;
    opacity: 0;
    transition: transform .2s ease, opacity .2s ease;
    padding: 0;

}

.imgContainer .card-social__item {
    list-style: none;
}

.imgContainer .card-social__item svg {
    display: block;
    height: 18px;
    width: 18px;
    fill: #515F65;
    cursor: pointer;
    transition: fill 0.2s ease ,transform 0.2s ease;
}

/*Text*/
.imgContainer .card-title {
    color: #333;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 2rem;
}

.imgContainer .card-subtitle {
    color: #859ba8;
    font-size: 0.8em;
}

/*Hover*/
.imgContainer .card:hover {
    box-shadow: 0 8px 50px #ffffff63;
}

.imgContainer .card:hover .card-info {
    transform: translateY(-5%);
}

.imgContainer .card:hover .card-social {
    transform: translateY(100%);
    opacity: 1;
}

.imgContainer .card:hover .card-avatar {
    filter: none;
}

.imgContainer .card-social__item svg:hover {
    fill: #232323;
    transform: scale(1.1);
}

.imgContainer .card-avatar:hover {
    transform: scale(1.1);
}