/* contact container */

.contactContainer {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
}

/* end */

/* contact intro */
.contact_intro
{
    margin-top: 5rem;
}

.contact_intro h2 {
    font-size: 2.2rem;
    font-weight: 700;
}
.contact_intro h4 {
    font-size: 2rem;
    font-weight: 700;
}
.contact_intro h4 strong{
    color: orange;
}

/* end */

/* title contact */
.titleContactForm {
    margin-bottom: 1rem;
}

@media screen and (min-width:1400px) {
    
    .contact_intro h2 {
        font-size: 3.6rem;
    }
    .contact_intro h4 {
        font-size: 3.2rem;
        font-weight: 700;
    }
    .contact_intro p {
        font-size: 1.5rem;
    }

    .titleContactForm {
        font-size: 2.6rem; 
        margin-bottom: 3rem;
    }
}