/* main saludo */

.main_saludo div h4 {
    margin: 1rem 0;
    font-size: 50px;
    font-weight: bold;
}
.main_saludo div h5 {
    margin: 0 0 1rem 0;
    font-size: 34px;
}
.main_saludo div h4 strong
{
    color: #ffc400;
}

.main_saludo button.about_me {
    display: flex;
    align-items: center;
    padding: 5px 25px;
    border-radius: 10px;
    border: solid 1.7px grey;
    margin: 1rem 0;
    background: linear-gradient(to left, #fae293 15%, #f0a58d 55%, #080201 64%,#080201 64%, #160202 79%) right;
    background-size: 300% 100%;
    transition: 0.2s ease-in;
    vertical-align: center;
    font-weight: 600;
}
.main_saludo button.about_me:hover {
    background-position: left;
    color: white;
    font-weight: 800;
    border: 1.6px solid rgb(66, 66, 66);
}
.main_saludo button svg  
{
    margin-bottom: -2px;
    margin-left:6px ;
}


/* end */

/* social icons */

.social_icons .box {
    margin: 10px 15px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in;
}
.social_icons .box svg {
    width: 40px;
    height: 40px;
}
.social_icons .box a {
    color: inherit;
}
.social_icons .box:nth-child(1) {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 34%, rgba(48,81,150,1) 66%) right;
    background-size: 300% 100%;
}
.social_icons .box:nth-child(2) {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 34%, #fd5949 64%, #d6249f 79%, #285AEB 104%) right;
    background-size: 300% 100%;
}
.social_icons .box:nth-child(3) {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 34%, #0A66C2 66%) right;
    background-size: 300% 100%;
}
.social_icons .box:hover {
    box-shadow: 3px 3px 10px rgb(81, 81, 81);
    background-position: left;
    transform: scale(1.05, 1.05);
    color: white;
    border-radius: 10px;
}

/* end */

/* brokenImgContainer */

.brokenImgContainer {
    position: relative;
    margin-top: 4rem;
    width: 390px;
    height: 390px;
    background-color: transparent;
    color: rgb(10, 19, 28);
}

/* end */

/* span for broken img container */
.brokenImgContainer .span {
    position: absolute;
    inset: 0;
    transition: 0.5s ease-out;
    background: url(../imgs/perfil.jpg);
    background-size: cover;
    border-radius: 50%;
}

.brokenImgContainer .span:nth-child(1) {
    clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%);
}
.brokenImgContainer .span:nth-child(2) {
    clip-path: polygon(100% 0, 50% 0, 49% 50%, 100% 50%);
}
.brokenImgContainer .span:nth-child(3) {
    clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 100% 50%);
}
.brokenImgContainer .span:nth-child(4) {
    clip-path: polygon(0 100%, 50% 100%, 50% 50%, 0 50%);
}

/* hover for span bronken img container */

.brokenImgContainer:hover .span:nth-child(1) {
    transform: translate(-40px, -60px) rotate(-15deg);
}
.brokenImgContainer:hover .span:nth-child(2) {
    transform: translate(40px, -100px) rotate(25deg);
}
.brokenImgContainer:hover .span:nth-child(3) {
    transform: translate(40px, 80px) rotate(-5deg);
}
.brokenImgContainer:hover .span:nth-child(4) {
    transform: translate(-40px, 60px) rotate(15deg);
}