/* bubble */
#bubble-wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0px;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
}
.bubble {
    z-index: 0;
    height: max(600px, 30vw);
    width: max(300px, 30vw);
    background-color: rgba(21, 19, 24);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 100%;
    animation: wave 1300ms ease-in-out infinite;
}

@keyframes wave {
    from,
    to {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, -20%);
    }
}

.footer {
    position: relative;
    overflow: hidden;
    /* height: 25vh; */
    background: linear-gradient(to left, #252326 15%, #2b4346 35%, #414a4c 64%, #3b444b 79%, #252326 104%) right;
    background-size: 300% 100%;
    transition-duration: .5s;
    transition-delay: 0s;
    z-index: 1;
}
.footer:hover {
    background-position: left;
    border: none;
}

.footer__box {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    padding: 8px;
    text-align: justify;
    background: linear-gradient(to left, rgb(97, 39, 39) 11%, #42284f 22%, #2c314b 33%, #2f3454 40%,inherit 85% ) left;
    background-size: 300% 100%;
    border-radius: 5px;
    width: 240px;
    height: 130px;
    transition: 0.5s ease-in-out;
    box-shadow: 1px 1px 10px rgb(12, 10, 10);
}
.footer__box:hover {
    box-shadow: 1px 1px 10px rgb(255, 255, 255) !important;
}
.footer:hover .footer__box {
    box-shadow: 1px 1px 20px rgb(8, 7, 7);
    background-position: right;
}


.footer__box h5 {
    margin: 0  auto 1rem auto;
    color: azure;
    font-weight: 900;
    letter-spacing: 1.3px;
    font-size:35px;
    position: absolute;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    transition: 0.3s ease-in-out;
}
.footer__box:hover h5 {
    top:5%;
    transform: translate(-50%, 0%);
    color: antiquewhite;
    font-size: 20px;
}

.footer__box a {
    text-decoration: none;
    text-decoration-color: none;
    font-style: none;
    color: rgba(102, 51, 153, 0);
    margin: 0 auto;
    display: flex;
    align-items: center;
    transition: .6s ease-in-out;
}
.footer__box:hover a {
    color: rgb(241, 162, 27);
}


@media screen and (max-width: 768px) {
.footer {
    height: auto;
    width: auto;
    }
}