* {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  font-style: none;
  text-decoration-color: none;
  color: inherit;
}


#body {
  background-color: #252326;
  display: grid;
  grid-template-rows: 65px 1fr 35px;
  grid-template-columns: 100%;
  /* grid-template-areas: "navbar" "main" "footer"; */
  height: 100vh;
  overflow-x: hidden;
}

/* containers */
.flexRowWrapContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
.flexCenterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
/* end */

/* titles */

.h2Title
{
  margin: 1rem auto;
  font-weight: 600;
}


/* end */

/* mid_circle */
.mid_circle 
{
    position: absolute;
    clip-path: ellipse(71% 73% at 85% 52%);
    background-image: url(./imgs/bigCircle.jpg);
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100%;
    right: 0;
}

/* mainContainer */

.mainContainer
{
  position: relative;
  background-image: url(./imgs/bg.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* end */


@media (max-width: 800px) { 
 /* .containerForPages {
  flex-direction: column;
  
 }  */

  .sideBar {
    width: auto;
    height: auto; 
  }

  .mainContainer{
    width: auto;
  }

  
}